# Search Topic

In this notebook we will research about the *diffrent kinds* of Crops along the years *1984-2019* in *global* scale of growth, the amount of prodaction is by *tonnes*.
we will check if the greenhouse gas levels had any affect on the crops.

We will merge the amount of growth for each kind by year in a new data frame

1. compare between the kinds to see who was the most\least affected by the gas than others along the years
    * which kind was the most prodacted althoug the gas levels went higher every year
    * which kind was the least prodacted because the gas levels went higher every year
    
    
2. compare between the amount of production for a specific kind along the years to see if it was affected by the gas

we can know all that from the gas levels and the amount of production

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from scipy.stats import chi2_contingency
# import plotly.graph_objects as go
# import plotly.express as px
import warnings
warnings.filterwarnings("ignore")
import time 
import os
%matplotlib inline

In [2]:
df_gas_crops = pd.read_csv('./data/Gas_Crops_data.csv')
df_gas_crops

,Domain,Area Code,Area,Element,Item Code,Item,Year,Unit,Value,Flag Description,CO2_levels,N2O_levels,CH4_levels
0,Crops,2,Afghanistan,Production,515,Apples,1961,tonnes,15100.0,Unofficial figure,no rec,no rec,no rec
1,Crops,2,Afghanistan,Production,515,Apples,1962,tonnes,15100.0,FAO estimate,no rec,no rec,no rec
2,Crops,2,Afghanistan,Production,515,Apples,1963,tonnes,15100.0,FAO estimate,no rec,no rec,no rec
3,Crops,2,Afghanistan,Production,515,Apples,1964,tonnes,18400.0,FAO estimate,no rec,no rec,no rec
4,Crops,2,Afghanistan,Production,515,Apples,1965,tonnes,20400.0,FAO estimate,no rec,no rec,no rec
...,...,...,...,...,...,...,...,...,...,...,...,...,...
154805,Crops,181,Zimbabwe,Production,15,Wheat,2015,tonnes,45302.0,Official data,400.1,328.3,1844
154806,Crops,181,Zimbabwe,Production,15,Wheat,2016,tonnes,42008.0,Official data,403.3,329.1,1853
154807,Crops,181,Zimbabwe,Production,15,Wheat,2017,tonnes,38715.0,Official data,405.6,329.9,1860
154808,Crops,181,Zimbabwe,Production,15,Wheat,2018,tonnes,45000.0,FAO estimate,407.9,331.1,1869
154809,Crops,181,Zimbabwe,Production,15,Wheat,2019,tonnes,80000.0,Unofficial figure,410.5,332.0,1877

In [3]:
df_gas = pd.read_csv('./data/greenhouse gas.csv')
df_gas

    year  CO2_levels  N2O_levels  CH4_levels
0   1984       344.3       303.9        1654
1   1985       345.8       304.5        1666
2   1986       347.2       305.3        1679
3   1987       349.0       305.9        1691
4   1988       351.4       306.7        1703
5   1989       353.0       307.6        1714
6   1990       354.2       308.6        1724
7   1991       355.5       309.3        1735
8   1992       356.2       309.9        1743
9   1993       357.0       310.1        1746
10  1994       358.6       310.7        1752
11  1995       360.4       311.4        1759
12  1996       362.1       312.0        1761
13  1997       363.3       312.9        1765
14  1998       366.0       313.7        1774
15  1999       368.0       314.6        1782
16  2000       369.5       315.7        1783
17  2001       371.0       316.4        1782
18  2002       372.9       317.1        1783
19  2003       375.3       317.7        1787
20  2004       377.1       318.4        1786
21  2005       379.2       319.1        1785
22  2006       381.3       320.0        1785
23  2007       383.1       320.7        1791
24  2008       385.2       321.6        1799
25  2009       386.8       322.4        1804
26  2010       389.0       323.3        1809
27  2011       390.9       324.3        1814
28  2012       393.1       325.2        1819
29  2013       395.8       326.2        1825
30  2014       397.7       327.3        1834
31  2015       400.1       328.3        1844
32  2016       403.3       329.1        1853
33  2017       405.6       329.9        1860
34  2018       407.9       331.1        1869
35  2019       410.5       332.0        1877

#### The diffrent kinds we will resaech: 
Apples, Potatoes, Cocoa, Vanila, Wheat, Banana

In [60]:
df_Crops_Count = df_gas.copy()
df_Crops_Count ['Apples Count'] = 0
df_Crops_Count ['Potatoes Count'] = 0
df_Crops_Count ['Cocoa Count'] = 0
df_Crops_Count ['Vanilla Count'] = 0
df_Crops_Count ['Wheat Count'] = 0
df_Crops_Count ['Bananas Count'] = 0

df_Crops_Count

,year,CO2_levels,N2O_levels,CH4_levels,Apples Count,Potatoes Count,Cocoa Count,Vanilla Count,Wheat Count,Bananas Count
0,1984,344.3,303.9,1654,0,0,0,0,0,0
1,1985,345.8,304.5,1666,0,0,0,0,0,0
2,1986,347.2,305.3,1679,0,0,0,0,0,0
3,1987,349.0,305.9,1691,0,0,0,0,0,0
4,1988,351.4,306.7,1703,0,0,0,0,0,0
5,1989,353.0,307.6,1714,0,0,0,0,0,0
6,1990,354.2,308.6,1724,0,0,0,0,0,0
7,1991,355.5,309.3,1735,0,0,0,0,0,0
8,1992,356.2,309.9,1743,0,0,0,0,0,0
9,1993,357.0,310.1,1746,0,0,0,0,0,0
10,1994,358.6,310.7,1752,0,0,0,0,0,0
11,1995,360.4,311.4,1759,0,0,0,0,0,0
12,1996,362.1,312.0,1761,0,0,0,0,0,0
13,1997,363.3,312.9,1765,0,0,0,0,0,0
14,1998,366.0,313.7,1774,0,0,0,0,0,0
15,1999,368.0,314.6,1782,0,0,0,0,0,0
16,2000,369.5,315.7,1783,0,0,0,0,0,0
17,2001,371.0,316.4,1782,0,0,0,0,0,0
18,2002,372.9,317.1,1783,0,0,0,0,0,0
19,2003,375.3,317.7,1787,0,0,0,0,0,0
20,2004,377.1,318.4,1786,0,0,0,0,0,0
21,2005,379.2,319.1,1785,0,0,0,0,0,0
22,2006,381.3,320.0,1785,0,0,0,0,0,0
23,2007,383.1,320.7,1791,0,0,0,0,0,0
24,2008,385.2,321.6,1799,0,0,0,0,0,0
25,2009,386.8,322.4,1804,0,0,0,0,0,0
26,2010,389.0,323.3,1809,0,0,0,0,0,0
27,2011,390.9,324.3,1814,0,0,0,0,0,0
28,2012,393.1,325.2,1819,0,0,0,0,0,0
29,2013,395.8,326.2,1825,0,0,0,0,0,0
30,2014,397.7,327.3,1834,0,0,0,0,0,0
31,2015,400.1,328.3,1844,0,0,0,0,0,0
32,2016,403.3,329.1,1853,0,0,0,0,0,0
33,2017,405.6,329.9,1860,0,0,0,0,0,0
34,2018,407.9,331.1,1869,0,0,0,0,0,0
35,2019,410.5,332.0,1877,0,0,0,0,0,0

In [61]:
df_Crops_Count.columns

Index(['year', 'CO2_levels', 'N2O_levels', 'CH4_levels', 'Apples Count',
       'Potatoes Count', 'Cocoa Count', 'Vanilla Count', 'Wheat Count',
       'Bananas Count'],
      dtype='object')

In [66]:

for i,valA in enumerate(df_gas_crops['Year']):
#     print(i,valA)
#     print(df_gas_crops['Item'][i])
    for j, valB in enumerate(df_Crops_Count['year']):
        if (valA == valB):
            
            if(df_gas_crops['Item'][i]=='Apples'):
                df_Crops_Count['Apples Count'][j] = df_Crops_Count['Apples Count'][j] + df_gas_crops['Value'][i]
#                 print(j,valB,i,valA,df_gas_crops['Item'][i])
#                 break
            if(df_gas_crops['Item'][i]=='Potatoes'):
                df_Crops_Count['Potatoes Count'][j] = df_Crops_Count['Potatoes Count'][j] + df_gas_crops['Value'][i]
            
            if(df_gas_crops['Item'][i]=='Cocoa, beans'):
                df_Crops_Count['Cocoa Count'][j] = df_Crops_Count['Cocoa Count'][j] + df_gas_crops['Value'][i]
                
            if(df_gas_crops['Item'][i]=='Vanilla'):
                df_Crops_Count['Vanilla Count'][j] = df_Crops_Count['Vanilla Count'][j] + df_gas_crops['Value'][i]
            
            if(df_gas_crops['Item'][i]=='Wheat'):
                df_Crops_Count['Wheat Count'][j] = df_Crops_Count['Wheat Count'][j] + df_gas_crops['Value'][i]
            
            if(df_gas_crops['Item'][i]=='Bananas'):
                df_Crops_Count['Bananas Count'][j] = df_Crops_Count['Bananas Count'][j] + df_gas_crops['Value'][i]

    
#         if valB==df_gas_crops['Year'][j]:
#             print (valA,valB)
#     else:
#         print('no')

#
#df_apples

In [67]:
df_Crops_Count

,year,CO2_levels,N2O_levels,CH4_levels,Apples Count,Potatoes Count,Cocoa Count,Vanilla Count,Wheat Count,Bananas Count
0,1984,344.3,303.9,1654,128308404,957525459,1810579,9729,1800442779,119467872
1,1985,345.8,304.5,1666,127609026,925187148,2013982,9672,1756003575,122776200
2,1986,347.2,305.3,1679,137844897,934951785,2118377,8376,1856186745,132688407
3,1987,349.0,305.9,1691,128232375,918406818,2055901,13029,1772941647,139992555
4,1988,351.4,306.7,1703,141135198,900793368,2563305,15483,1758268485,140709561
5,1989,353.0,307.6,1714,140943315,923035437,2640977,14211,1887048483,139252035
6,1990,354.2,308.6,1724,136133721,896565936,2532122,10746,2068686153,154780146
7,1991,355.5,309.3,1735,121645374,862303179,2521946,10659,1931322936,160107942
8,1992,356.2,309.9,1743,152496360,950417391,2677031,11886,2000109846,174778038
9,1993,357.0,310.1,1746,170414295,1051681692,2672284,13905,2013404061,177827475
10,1994,358.6,310.7,1752,172817217,942117921,2671269,12012,1874210289,183407343
11,1995,360.4,311.4,1759,188607588,993947142,2985765,13074,1939706883,186135942
12,1996,362.1,312.0,1761,214193643,1090714803,3237671,13848,2067558378,182113182
13,1997,363.3,312.9,1765,219693924,1075014225,3017083,13593,2213825595,197584785
14,1998,366.0,313.7,1774,223253802,1087355484,3302838,15372,2117705643,205927308
15,1999,368.0,314.6,1782,233400051,1056637821,2975444,14826,2095930575,223057539
16,2000,369.5,315.7,1783,238702407,1167261138,3338447,13914,2053905858,217046865
17,2001,371.0,316.4,1782,231365913,1110245991,3222552,16227,2046350691,226583526
18,2002,372.9,317.1,1783,223656999,1140047085,3298203,18027,2047006641,236084160
19,2003,375.3,317.7,1787,237620643,1127141478,3705194,16881,1909388211,243192783
20,2004,377.1,318.4,1786,257766144,1201164393,4069808,20223,2179854744,256929750
21,2005,379.2,319.1,1785,257768637,1165725843,4044041,25497,2173398102,270937251
22,2006,381.3,320.0,1785,267941427,1116323493,4299997,30780,2168542179,287226867
23,2007,383.1,320.7,1791,280586070,1131052983,3899063,32031,2147680311,306665145
24,2008,385.2,321.6,1799,296667954,1187554476,4266011,32103,2378276202,319577826
25,2009,386.8,322.4,1804,309968175,1201994658,4211424,31734,2396263611,336292770
26,2010,389.0,323.3,1809,313359315,1215766299,4329436,28671,2267966526,354516210
27,2011,390.9,324.3,1814,339179832,1348860600,4614869,28203,2442937206,359141586
28,2012,393.1,325.2,1819,351271788,1336360407,4613416,25452,2384278407,362374863
29,2013,395.8,326.2,1825,367542327,1353408168,4484825,23805,2496987582,372704931
30,2014,397.7,327.3,1834,378813111,1362675141,4744750,22101,2564918916,368620506
31,2015,400.1,328.3,1844,363927645,1347089637,4827752,23352,2624028144,373172808
32,2016,403.3,329.1,1853,376207545,1317523428,4651282,25776,2645307348,365676366
33,2017,405.6,329.9,1860,373582263,1375920444,5268238,25647,2719627728,371282892
34,2018,407.9,331.1,1869,375176097,1366910439,5573392,24588,2594498319,382029372
35,2019,410.5,332.0,1877,388988397,1386950613,5596397,24282,2698112298,386336214

In [ ]:
df_gas_crops.to_csv("data/Crops_years
.csv", index=False)